[Install]
WantedBy=default.target

[Container]

Image=localhost/demo:latest
Volume=/opt/kundk/state:/mnt/state
Network=host

Environment=KUNDK_DEMO=
EnvironmentFile=/opt/kundk/demo.env
